{% extends 'base.html.twig' %}



{% block body %}
    <div class="container my-5">
             <h1 class="text-center">Espace Membre privé</h1>
        <div class="col-md-6 offset-md-3">
             <h2 class="text-center">Modification Mot de Passe</h2>
        </div>
             {{form(modifyPwdForm)}}
    </div>
{% endblock %}