<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
        <div class="row g-0">
          <div class="col md-4">
           <img "img-fluid" src="assets/images/fleur-13.jpg">
          </div>
          <div class="col md-8">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text"> This is a wider card with supporting text below as a natural</p>
              <p class="card-text"> <small class="text muted">Last updated 3 mins ago</small></p>

            </div>
          </div>
        </div>
    </div>
    <div class="carousel-item">
      <div class="row g-0">
          <div class="col md-4">
           <img "img-fluid" src="assets/images/fleur-14.jpg">
          </div>
          <div class="col md-8">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text"> This is a wider card with supporting text below as a natural</p>
              <p class="card-text"> <small class="text muted">Last updated 3 mins ago</small></p>

            </div>
          </div>
        </div
    </div>
    <div class="carousel-item">
      <div class="row g-0">
          <div class="col md-4">
           <img "img-fluid" src="assets/images/fleur-15.jpg">
          </div>
          <div class="col md-8">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text"> This is a wider card with supporting text below as a natural</p>
              <p class="card-text"> <small class="text muted">Last updated 3 mins ago</small></p>

            </div>
          </div>
        </div
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>