   <article class="text-center text-lg-start text-white my-4"style="background-color:rgb(93, 114, 56)" >
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="container p-4">
        <div class="carousel-inner">
        {% for commentaire in commentaires %}
        <div class="carousel-item active">
            <div class="row g-0">
              <div class="col-md-4">
              <img class="img-fluid" src="{{ asset('build/images/fleur-20.jpg') }}" alt="">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <p class="card-text"> {{commentaire.content}}</p>
                  <p class="card-text"> <small class="text muted">{{ commentaire.createdAt|date('d-m-Y') }}</small></p>

                </div>
              </div>
            </div>
        </div>
        {% endfor %}
        
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </article>