a {
  color: black;
  text-decoration: none;
}

.navbar-brand {
  font-size: 35px;
  color: #3bb143;
  /*color:#55d737;*/
}

ul.navbar-nav {
  margin-right: 80px !important;
}

@media (min-width: 992px) {
  .navbar-collapse {
    flex-basis: 50% !important;
    flex-grow: 0 !important;
    justify-content: center !important;
    margin: 0 auto; /* Center the navbar-collapse */
  }
}
.intro {
  position: relative;
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-image: url(../Images/banniere.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  width: 100%;
}
.intro-title {
  color: #fff;
}
.intro-text {
  color: blueviolet;
  font-family: roboto;
  font-weight: 500;
  font-style: italic;
  justify-content: center;
  justify-items: center;
  margin-top: -10%;
}
.intro-parag {
  font-family: roboto, sans-serif;
  font-size: calc(1rem + 0.5vw);
  align-items: center;
  color: #fff;
  justify-content: center;
  justify-items: center;
  margin-top: -10%;
}

.sect-2 {
  background-color: khaki;
}
.compo-text {
  color: blueviolet;
  font-family: roboto;
  justify-content: center;
  justify-items: center;
}

.card-header {
  height: 320px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 330px;
  margin: 10px;
  text-align: center;
}
.card-header img {
  height: 250px;
  width: auto;
  object-fit: cover;
  object-position: center center;
  transition: opacity 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
card {
  width: 40%;
  height: 250px;
  position: ;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 10px 20px rgb(40, 40, 40);
}
card:hover {
  opacity: 0.8;
}
card-header {
  position: ;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
card-header img {
  height: 100%;
  width: 100%;
}

.card-body {
  margin: 0% 0% 0% 3%;
  padding: 6% 0%;
}
.col-md-4 img {
  background-color: blue;
  height: auto;
  width: 100%;
  object-fit: cover;
  object-position: center center;
  transition: opacity 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
card-body {
  position: ;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.4s;
}

.container my-5 {
  background-color: crimson;
}
.back-color-sectionFlower {
  background-color: burlywood;
}
.back-color-sectionCategory {
  background-color: bisque;
}
