<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Paradis des pétales!{% endblock %}</title>
        {% block meta %}
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
            <script src="https://kit.fontawesome.com/d4fcf78874.js" crossorigin="anonymous"></script>
        {% endblock %}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
           
        {% endblock %}
    </head>
    <body>
      {%  include "base/header.html.twig" %}
       
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
        {% block body %}{% endblock %}
      {%  include "base/footer.html.twig" %}
  </body>
</html>
 