<!DOCTYPE html>
<html>
    <head>
        
        <title>{% block title %}Paradis des pétales!{% endblock %}</title>
        {% block meta %}
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="description" content="Paradis des pétales">          
        {% endblock %}
        {% block stylesheets %}
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block googleFonts %}
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src=" https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script> 
           <script src="https://kit.fontawesome.com/d4fcf78874.js" crossorigin="anonymous"></script>
        {% endblock %}
    </head>
    <body>
     {%  include "base/header.html.twig" %}
       
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
        {% block body %} {% endblock %}
        {%  include "base/footer.html.twig" %}
  </body>
</html>
 